# DDM OS Reminder
## Version 4.0.0b19



### macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.fseventsd
.TemporaryItems
.DocumentRevisions-V100
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.apdisk



### Zsh
.zsh_history
.zsh_sessions/
.zcompdump*
.zcompcache/
*.zwc

### Codex
.codex/
.envrc


### Project temp
.deploy*